%h1 Add a journal to your subscribing list

= form_for @journal, url: new_journal_path, method: :get do |f|
  .form-group
    = f.label :name
    = f.text_field :name, class: 'form-control'
  .actions
    = f.submit "Search", class: 'btn btn-dark'

- if @journals
  %table.table.mt-5
    %thead
      %tr
        %td Name
        %td
    %tbody
    - @journals['message']['items'].each do |result|
      %tr
        %td= result['title']
        %td
          = form_for Journal.new do |f|
            = f.hidden_field :name, value: result['title']
            = f.hidden_field :issn, value: result['ISSN'][0]
            = f.submit "Add", class: 'btn btn-sm btn-dark'
    - if @journals['message']['items'].empty?
      %tr
        %td No Results
